* {
  margin: 0;
  padding: 0;
  color: #c8c8c8;
  list-style: none;
  font-family: "Roboto", sans-serif; }

a {
  text-decoration: none; }

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 100px auto 100px;
  grid-template-areas: "header"  "main"  "footer"; }
  body header {
    grid-area: header;
    background-color: #1a0554;
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100px;
    display: flex;
    z-index: 1000; }
    body header nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      width: 100%; }
      body header nav div {
        position: relative; }
        body header nav div a div {
          background-color: #c4abff;
          padding: 2px;
          margin: 2px;
          border-radius: 10px;
          display: flex;
          flex-direction: row;
          align-items: center;
          transition: .2s; }
          body header nav div a divafter, body header nav div a div:hover {
            filter: brightness(85%); }
          body header nav div a div img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 4px solid #55443366;
            pointer-events: none; }
          body header nav div a div div {
            padding: 2px;
            margin: 2px;
            pointer-events: none;
            color: black; }
      body header nav div {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 10px; }
        body header nav div span {
          pointer-events: all;
          cursor: pointer;
          margin-top: 10px; }
          body header nav div span i {
            padding: 2px;
            margin: 2px;
            color: #c4abff; }
        body header nav div ul {
          height: 0;
          margin: 20px -100% 0 0;
          overflow: hidden;
          transition: all 0.3s; }
          body header nav div ul a {
            text-decoration: none;
            color: #c8c8c8; }
            body header nav div ul a li {
              list-style: none;
              padding: 20px;
              margin: 5px;
              border: 3px solid #c4abff;
              border-radius: 50px;
              display: block;
              font-size: 1.25em;
              cursor: pointer;
              background: #1a0554;
              text-align: center;
              text-transform: uppercase; }
      @media (min-width: 1024px) {
        body header nav div {
          margin-top: 0; }
          body header nav div span {
            margin-top: 0;
            display: none; }
          body header nav div ul {
            margin: -40px 0 0 0;
            overflow: visible; }
            body header nav div ul a {
              display: inline-block; }
              body header nav div ul a li {
                margin: 5px; } }
  body #inicio {
    grid-area: main;
    background-color: #664eae;
    padding: 25px; }
    body #inicio section {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center; }
      body #inicio section div {
        display: flex;
        flex-direction: column; }
        body #inicio section div h1 {
          text-align: center; }
        body #inicio section div p {
          text-align: center; }
        body #inicio section div span {
          text-align: center; }
      body #inicio section div {
        display: flex;
        justify-content: center; }
        body #inicio section div button {
          color: #353535;
          background-color: #c4abff;
          text-transform: uppercase;
          border: 3px solid;
          border-radius: 10px;
          margin: 2em;
          padding: 10px; }
      body #inicio section img {
        width: 250px;
        margin: 2em;
        border-radius: 50%;
        border: 3px solid #353535; }
  body footer {
    grid-area: footer;
    background-color: #c4abff; }
    body footer div {
      padding: 25px;
      text-align: center; }
      body footer div span {
        color: #353535; }

.mostrarMenu {
  margin-right: 0;
  pointer-events: all;
  overflow: visible; }

#contactos {
  width: 100vw;
  grid-area: main;
  background-color: #664eae;
  padding: 25px; }
  #contactos section {
    display: flex;
    flex-flow: column;
    align-items: center; }
    #contactos section #titulo {
      text-align: center; }
      #contactos section #titulo h1 {
        text-transform: uppercase;
        font-size: 48px; }
      #contactos section #titulo span {
        text-transform: uppercase; }
    #contactos section #redes div a img {
      width: 175px; }
    #contactos section #emailContac {
      display: flex;
      flex-flow: column;
      align-items: center; }
      #contactos section #emailContac h3 {
        text-transform: uppercase; }
      #contactos section #emailContac form div {
        margin: 5px;
        padding: 2px; }
        #contactos section #emailContac form div label {
          width: 100px;
          text-align: center; }
        #contactos section #emailContac form div input {
          background-color: magenta; }
      #contactos section #emailContac form #msjEmail textarea {
        background-color: magenta; }
      #contactos section #emailContac form div div {
        text-align: center; }

#experiencia {
  grid-area: main;
  background-color: #664eae; }
  #experiencia section {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 15px; }
    #experiencia section h1 {
      text-transform: uppercase;
      text-align: center; }
    #experiencia section div p {
      text-transform: uppercase;
      text-align: center; }
    #experiencia section div {
      display: grid;
      width: 100vw;
      grid-template-columns: auto auto;
      grid-auto-rows: auto auto;
      margin: 15px;
      justify-content: center; }
      @media (min-width: 1024px) {
        #experiencia section div {
          grid-template-columns: auto auto auto auto;
          grid-auto-rows: auto; } }
      #experiencia section div div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        border: 3px solid;
        border-radius: 10px;
        background-color: #ddd; }
        #experiencia section div div img {
          height: 175px;
          width: 100%;
          object-fit: cover;
          border-radius: 10px; }
        #experiencia section div div div {
          border: none;
          text-align: center; }
          #experiencia section div div div h5 {
            color: #353535;
            text-transform: uppercase; }
          #experiencia section div div div p {
            color: #353535;
            text-transform: uppercase; }
          #experiencia section div div div a {
            background-color: #9a90b6;
            text-decoration: none;
            color: #353535;
            border-radius: 5px;
            padding: 10px;
            text-transform: uppercase;
            transition: 0.3s; }
            #experiencia section div div div a:hover {
              filter: brightness(130%); }

#herramientas {
  grid-area: main;
  background-color: #664eae; }
  #herramientas div {
    margin: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center; }
    #herramientas div div h1 {
      font-size: 48px;
      text-transform: uppercase; }
    #herramientas div div p {
      font-size: 18px; }
    #herramientas div div div {
      display: grid;
      grid-template-columns: auto auto;
      grid-auto-rows: auto; }
      @media (min-width: 1024px) {
        #herramientas div div div {
          grid-template-columns: auto auto auto auto; } }
      #herramientas div div div div div {
        min-width: 10rem;
        max-width: fit-content;
        display: block; }
        #herramientas div div div div div div h5 {
          color: #353535; }
        #herramientas div div div div div div p {
          color: #353535; }

.mainCenterPerfil {
  grid-area: main;
  background-color: #664eae; }
  .mainCenterPerfil .mainCenter__editPerfil {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mainCenterPerfil .mainCenter__editPerfil .editPerfil__title {
      text-align: center; }
      .mainCenterPerfil .mainCenter__editPerfil .editPerfil__title .editTitle {
        text-transform: uppercase;
        text-decoration: underline; }
      .mainCenterPerfil .mainCenter__editPerfil .editPerfil__title .editDescription {
        text-transform: uppercase; }
    .mainCenterPerfil .mainCenter__editPerfil .editPerfil_config form {
      display: flex;
      flex-direction: column;
      margin: 5px;
      padding: 2px; }
      .mainCenterPerfil .mainCenter__editPerfil .editPerfil_config form div {
        height: 60px;
        margin: 5px;
        padding: 5px; }
        .mainCenterPerfil .mainCenter__editPerfil .editPerfil_config form div input {
          background-color: magenta; }
        .mainCenterPerfil .mainCenter__editPerfil .editPerfil_config form div label {
          height: 40px;
          width: 100px;
          text-align: center; }
      .mainCenterPerfil .mainCenter__editPerfil .editPerfil_config form .perfilButtons {
        text-align: center; }
