//PALETA DE COLORES
$colorPrin: #1a0554;
$colorSec:#664eae;
$colorTer: #c4abff;
$colorText: rgb(200, 200, 200);
$colorTextoSec: #353535;
$colorTittle:rgb(226, 226, 226);


//MEDIDAS
$tittleSize:48px;
$textSize:18px;
$smartphone:"(max-width: 480px)";
$tablets:"(min-width: 480px) and (max-width: 728px)";
$desktop:"(min-width: 1024px)";


//FUENTES
$fontPrin:'Roboto' , sans-serif;
