@import "variables";
*{
    margin: 0;
    padding: 0;
    color: $colorText;
    list-style: none;
    font-family: $fontPrin;
}
a{
    text-decoration: none;
}

body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: 100px auto 200px;
    grid-template-areas: "header" 
                         "main" 
                         "footer" ;

    @media #{$smartphone}{
    }
    @media #{$tablets}{
    }   
    @media #{$desktop}{
    }

    header{
        grid-area: header;
        background-color: $colorPrin;
        position: fixed;
        margin: 0;
        width: 100%;
        height: 100px;
        display: flex;
        
        
        nav{
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            width: 100%;

            div{
                position: relative;
                a{
                
                    div{
                        background-color: $colorTer;
                        padding: 2px;
                        margin: 2px;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        transition: .2s;
                        &after,
                        &:hover{
                            filter: brightness(85%);
                        
                    
                        }
                        img{
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            border: 4px solid #55443366;
                            pointer-events: none;

                        }   
                        div{
                        padding: 2px;
                        margin: 2px;
                        pointer-events: none;
                        color:black
                        }
                    }
                }
            }
            //MENU
            div{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-top: 10px;
                
                span{
                    pointer-events: all;
                    cursor: pointer; 
                    margin-top: 10px;
                    

                    i{
                        padding: 2px;
                        margin: 2px;
                        color:$colorTer ;
                    }
                }          
                ul{
                    
                    height: 0;
                    margin:20px -100% 0 0 ;             
                    overflow: hidden;
                    transition: all 0.3s;
                    
                    a{
            
                        text-decoration: none;
                        color: $colorText;
                            
                        
                        li{
                            list-style: none;
                            padding: 20px;
                            margin: 5px;
                            border: 3px solid $colorTer;
                            border-radius: 50px;
                            display: block;
                            font-size: 1.25em;
                            cursor: pointer;
                            background: $colorPrin;
                            text-align: center;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }    
    
    main{
        grid-area: main ;
        background-color: $colorSec;
        padding: 25px;
        
        section{
            display: flex;
            flex-flow: column ;    
            align-items: center;
            justify-content: center;
            h1{
                text-align: center;
            }
            p{
                text-align: center;
            }
            span{
                text-align: center;
            }
            div{
                display: flex;
                justify-content: center;
                
                button{
                    margin: 2em;
                }
            }                    
            img{
                width: 250px;
                margin: 2em;
            }            
        }
    
    }
    
    footer{
        grid-area: footer;
        background-color: $colorTer;
        
        div{
            padding: 25px;
            text-align: center;
            span{

            }
        }
    }


}
//Clases extras

.mostrarMenu{
    margin-right: 0;
    pointer-events: all;
    overflow: visible;
}