@import "./base/variables";
@import "./base/extend";
@import "./base/mapas";
@import "./base/mixins";
@import "./base/operaciones";
@import "./components/header";
@import "./components/footer";
@import "./components/layout";
@import "./base/reset";


body{
    
    #inicio{
        grid-area: main ;
        background-color: $colorSec;
        padding: 25px;
        
        section{
            display: flex;
            flex-flow: column ;    
            align-items: center;
            justify-content: center;

            @media (min-width: $breakpoint-desktop){
            }
            div{
                display: flex;
                flex-direction: column;
                h1{
                    text-align: center;
                }
                p{
                    text-align: center;
                }
                span{
                    text-align: center;
                }
            }    
            div{
                display: flex;
                justify-content: center;
                
                button{
                    color: $colorText;
                    background-color: $colorTer;
                    text-transform: uppercase;
                    border: 3px solid;
                    border-radius: 10px;
                    margin: 2em;
                    padding: 10px;
                }
            }                    
            img{
                width: 250px;
                margin: 2em;
                border-radius: 50%;
                border: 3px solid $colorTextoSec;
            }            
        }
    
    }
    
   



//Clases extras

.mostrarMenu{
    margin-right: 0;
    pointer-events: all;
    overflow: visible;
}
//ESTILOS CONTACTO

#contactos{
    width: 100vw;
    grid-area: main ;
    background-color: $colorSec;
    padding: 25px;
    section{
        display: flex;
        flex-flow: column;
        align-items: center;
        
        //titulo
        #titulo{
            text-align: center;
            h1{
                text-transform: uppercase;
                font-size: $tittleSize;
            }
            span{
                text-transform: uppercase;
            }

        }
        //redes
        #redes{
            display: flex;
            flex-flow: column;
            @media (min-width: $breakpoint-tablet) {
               flex-flow: row;     
                    
            }
            @media (min-width: $breakpoint-desktop) {
                flex-flow: row;
                
            }

            div{
                               
                a{
                    img{
                        width: 175px;
                    }
                }
               
            }

        }
        //email
        #emailContac{
            display: flex;
            flex-flow: column;
            align-items: center
            ;
            h2{
                text-transform: uppercase;

            }
            form{
                
                div{
                    margin: 5px;
                    padding: 2px;
                    label{
                        width: 100px;
                        text-align: center;
                        
                    }
                    input{
                        background-color: $colorForm;
                    }
                }
                #msjEmail{
                    label{                 

                    }
                    textarea{
                        background-color: $colorForm;
                    }
                }
                div{
                    
                    div{
                        text-align: center;
                        
                        input{

                        }
                    }
                }
            }

        }
    }
}

//ESTILOS EXPERIENCIA

#experiencia{
    grid-area: main ;
    background-color: $colorSec;
    width: 100vw;
        
    section{
        display: flex;
        flex-flow: column;
        align-items: center;
        padding-top: 15px;

        h1{
            text-transform: uppercase;
            text-align: center;
        }
        div{
            p{
                text-transform: uppercase;
                text-align: center;
            }
        }
        
        div{
            display: grid;
            width: 100vw;
            grid-template-columns: auto;
            grid-auto-rows: auto;
            margin: 15px;
            justify-content: center;

            @media (min-width: $breakpoint-tablet) {
                grid-template-columns: auto auto auto;
                
            }
            @media (min-width: $breakpoint-desktop){
                grid-template-columns: auto auto auto auto;
                grid-auto-rows: auto;
            }

            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 250px;
                border: 3px solid;
                border-radius: 10px;
                background-color: $colorCard;

                img{
                    height: 175px;
                    width: 100%;
                    object-fit: cover;
                    border-radius:10px ;

                }
                div{
                    border: none;
                    text-align: center;
                    background: none;
                    
                    span{
                        color: $colorText;
                        text-transform: uppercase;
                    }
                    p{
                        color: $colorText;
                        text-transform: uppercase;
                    }
                    a{
                        background-color: $colorButton;
                        text-decoration: none;
                        color: $colorText;
                        border-radius: 5px;
                        padding: 10px;
                        text-transform: uppercase;
                        transition: 0.3s;
                        &:hover{
                            filter: brightness(130%);
                        }
                    }
                }

            }
        }
    } 
}

//ESTILOS HERRAMIENTAS

#herramientas{
    grid-area: main ;
    background-color: $colorSec;
    div{
        margin: 10px;
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        div{
            h1{
                font-size: $tittleSize;
                text-transform: uppercase;

            }
            p{
                font-size: $textSize ;
            }
        }
        div{
            div{
                display: grid;
                grid-template-columns: auto auto;
                grid-auto-rows: auto;

                @media (min-width: $breakpoint-tablet) {
                    grid-template-columns: auto auto auto;
                    
                }
                @media (min-width: $breakpoint-desktop) {
                    grid-template-columns: auto auto auto auto;
                    
                }

                div{
                    div{
                        min-width: 10rem;
                        max-width: fit-content;
                        display: block;
                        img{

                        }
                        div{
                            
                            span{
                                color:$colorText;
                            }
                            p{
                                color:$colorText;
                            }
                        }
                    }
                }
            }
        }
    }    
}


// ESTILOS DATOS DEL PERFIL

.mainCenterPerfil{
    grid-area: main ;
    background-color: $colorSec;
    
    
    .mainCenter__editPerfil{
        margin: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .editPerfil__title{
            text-align: center;
            .editTitle{
                text-transform: uppercase;
                text-decoration:underline;
            }
            .editDescription{
                text-transform: uppercase;
            }
        }
        .editPerfil_config{
            form{
                display: flex;
                flex-direction: column;
                margin: 5px;
                padding: 2px;
                
                div{
                    height: 60px;
                    margin: 5px;
                    padding: 5px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    
                    input{
                        height: 30em ;
                        background-color: $colorForm;
                        color: $colorText;
                        width: 100%;
                    }
                    label{
                        height: 3em;
                        
                        text-align: center;
                    }
                }
                .perfilButtons{
                    input{
                        color: $colorText;
                        background-color: $colorTer;
                        text-transform: uppercase;
                        border: 3px solid;
                        border-radius: 10px;
                        margin: 1em;
                        padding: 10px;
                    }
                    
                }
            }
        }
    }
}
}