//PALETA DE COLORES
$colorBack: rgb(92, 72, 119);
$colorNav:rgb(47, 37, 61);
$colorFooter: rgb(88, 88, 88);
$colorText: rgb(200, 200, 200);
$colorTittle:rgb(226, 226, 226);

//MEDIDAS
$tittleSize:48px;
