body{
    display: grid;
    
    min-height: 100vh;
    grid-template-rows: 100px auto 100px;
    grid-template-areas: "heade" 
                         "main" 
                         "footer" ; 


    header{
        grid-area: heade;
        
    }
    main{
        grid-area: main;
        height: 100%;

    }
    footer{
        grid-area: footer;
        
    }
}