//PALETA DE COLORES
$colorPrin:  #0D0D0D;
$colorSec:#402515;
$colorTer: #BF9075;
$colorCard: #ddd;
$colorButton: #D9B391;
$colorText: #aca5a5;
$colorTextoSec: #272626;
$colorTittle:rgb(226, 226, 226);
$colorForm: #D9B391;

/* Color Theme Swatches in Hex */
$The-Modern-1-hex: #D9B391;
$The-Modern-2-hex: #402515;
$The-Modern-3-hex: #BF9075;
$The-Modern-4-hex: #F2F1F0;
$The-Modern-5-hex: #0D0D0D;





//FUENTES
$fontPrin:'Roboto' , sans-serif;
