//PALETA DE COLORES
$colorPrin:  #1a1a1a;
$colorSec:#e6e6e6;
$colorTer: #8cd2f3;
$colorCard: #ddd;
$colorButton: #8cd2f3;
$colorText: #1a1a1a;
$colorTextoSec: #8cd2f3;
$colorTittle:rgb(226, 226, 226);
$colorForm: #8cd2f3;





//FUENTES
$fontPrin:'Roboto' , sans-serif;
